@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, sans-serif, system-ui,  'Arial Narrow', Arial, sans-serif;
}
.bg-card{
    min-height: 100vh;
    min-width: 100vw;   
}

.header{
    height: 70px;
    width: 100vw;
    background-color: #fff;

    overflow: hidden;
    position: fixed;
    top: 0px;
    z-index: 1;
    margin-bottom: 70px;
}
.nav-bar{
    display:  flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px ;
}
.nav-bar a{
    text-decoration: none;
    color: #615959;
    font-size: 18px;
    font-weight: 600;

}
.logo{
    color: #82ae46 !important;
    font-size: 24px;
    font-weight: 700;
    word-spacing: 0cm;
    letter-spacing: 0.05cm;
    font-family:  'Arial Narrow', Arial, sans-serif;    
}
.ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.ul>li{
    margin: 0 30px;
    list-style-type: none;
}
.login{
    background-color: rgb(11, 158, 169);
    padding: 6px 15px;
    border: none;
    border-radius: 5px;
}



.welcome-section{
    background-image: url("./resources/fruits-and-vegetables-boxes.jpg");
    /* background-repeat: no-repeat;  */
    background-position: center;
    background-size: cover;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}
.w-heading, .w-para{
    color: white;
    font-size: 3rem;
    /* background-color: rgb(25, 77, 77); */
    -webkit-filter: blur(40px);
    backdrop-filter: blur(40px);
    filter: blur(0px);
    padding: 18px 25px;
    border-radius: 8px;
}
.w-para{
    margin: 15px;
    font-size: 1.5rem;
    padding: 10px 20px;
}
.w-para>span{
    color: rgb(148, 236, 8);
    font-weight: 600;
    /* background-color: rgb(41, 45, 39); */
}



.highlights{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin: 30px 100px;
}
.h-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon{
    border: 8px solid #ad567f;
    border-radius: 50%;
    padding: 20px;
    background-color: white;
    width: 120px;
    margin-bottom: 12px;
}
.fresh{
    padding: 15px;
}
.h-card>.tagline{
    font-weight: 600;
    font-family: "Poppins", Arial, sans-serif;
}



.categories{
    margin: 20px;
}