@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", Arial, sans-serif, system-ui,  'Arial Narrow', Arial, sans-serif;
}
.bg-card{
    min-height: 100vh;
    width: 100%;   
}
.all-sections{
    width: 100%;
}

.header{
    min-height: 70px;
    width: 100%;
    background-color: #fff;

    /* overflow: hidden; */
    position: fixed;
    top: 0px;
    z-index: 100;
    margin-bottom: 70px;
}
.menu-btn{
    display: none;
}
#radio{
    display: none;
}
.nav-bar{
    display:  flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px ;
    box-shadow: 0px 0px 10px #7f7f7f;
}
.nav-bar a{
    text-decoration: none;
    color: #615959;
    font-size: 18px;
    font-weight: 600;
}
.nav-bar a:hover, .ul>li:hover{
    transform: scale(1.1);
    color: #2a2828;
    border-bottom: 1px solid #615959 ;
}
.logo{
    color: #82ae46 !important;
    font-size: 32px;
    font-weight: 900;
    word-spacing: 0cm;
    letter-spacing: 0.05cm;
    font-family:  'Arial Narrow', Arial, sans-serif; 
}
.ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.ul>li{
    margin: 0 30px;
    list-style-type: none;
    transition: border-bottom 0.5s ease;
    transition: color 0.5s ease;
    border-bottom-width: 2px;    
}


#login{
    background-color: #82ae46;
    color: rgb(255, 255, 255) !important;
    padding: 6px 15px;
    border: none;
    border-radius: 5px;
}

@media screen and (max-width: 426px){
    .logo{
        position: fixed;
        top: 25px; 
    }
    .ul{
        position: fixed;
        top: 55px;
        right: 20px;
        display: none;
        justify-content: flex-end;
        align-items: end;
        text-align: right;
        background-color: white;
        padding: 10px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .btn-and-categorys{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }
    .menu-btn{
        display: block;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        position: fixed;
        top: 25px;
        right: 60px;
    }
    .menu-btn:hover{
        transform: scale(1.2);
    }
    .menu-icon{
        height: 30px;
        width: 30px;
        background: none;
    }
}

.welcome-section{
    background-image: url("./resources/fruits-and-vegetables-boxes.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 680px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    width: 100%;
}
.w-heading, .w-para{
    color: white;
    font-size: 3rem;
    /* background-color: rgba(255, 255, 255, 0.2); */
    
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    filter: blur(0px);
    padding: 18px 25px;
    border-radius: 8px;
}
.w-heading span{
    color: #82ae46 ;
}
.w-para{
    margin: 15px;
    font-size: 1.5rem;
    padding: 10px 20px;
}
.w-para>a{
    color: rgb(148, 236, 8);
    font-weight: 600;
}
.w-para>a:hover{
    transform: scale(1.2);
    
}



.highlights{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin: 100px 100px;
}
.h-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon{
    border: 8px solid #ad6f8c;
    border-radius: 50%;
    padding: 20px;
    background-color: white;
    width: 120px;
    margin-bottom: 12px;
}
.fresh{
    padding: 15px;
}
.h-card>.tagline{
    font-weight: 600;
    font-family: "Poppins", Arial, sans-serif;
}



.categories{
    margin: 100px 0px;
    margin-bottom: 300px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.c-inner{
    margin: 15px;
    position: relative;

}
.c-image{
    height: 400px;
    width: 400px;
}
.c-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.text-image-card{
    display: flex;
    flex-direction: column;
    /* justify-content: ; */
    align-items: center;
}
.c-all{
    bottom: -127px;
}
.c-label{
    position: absolute;
    bottom: 6px;
    z-index: 1;
    background-color: #82ae46;
    color: white;
    padding: 7px 26px;
    font-size: 20px;
}
.c-vegetables-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #82ae46;
    font-family: "Zilla Slab", serif;
    font-weight: 400;
    font-size: 2.2rem;
    font-style: italic;
    margin-bottom: 15px;
}
.c-shop-now{
    background-color: #82ae46;
    color: white;
    padding: 7px 14px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 1rem;
    margin-top: 15px;
    cursor: pointer;
}
.c-shop-now:hover{
    transform:scale( 1.1);
    color:  #82ae46;
    background-color: #fff;
    border: 1px solid  #82ae46;
}



.our-products-section{
    margin: 100px 0px;
    width: 100%;
}
.op-head-para-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.op-head-para-card>.c-vegetables-text{
    font-size: 22px;
}
.op-heading{
    font-size: 2.5rem;
    font-weight: 600;
}
.op-para-description{
    margin: 26px;
    color: #9f9f9f;
}
.op-products-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    margin: 50px auto;
}
.op-product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #fee7e7;
    border-radius: 5px;
}
.op-product-image{
    cursor: pointer;
    height: 180px;
    width: 180px;
    margin: 20px;
    border-radius: 50%;
    /* scale: 0.9; */
    transition: scale 0.3s ease ;

    /* transition: transform 0.3s ease; */
}
.op-product-image:hover{
    /* scale: 1.1; */
    transition: scale(0.5);
}
.op-product-name{
    margin: 30px 0 8px 0;
}
.op-roduct-price{
    color: forestgreen;
}
.op-roduct-price span{
    color:  #9f9f9f;
    text-decoration: line-through;
    margin-right: 8px;
}
.op-icons-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 70px;
}
.op-icon{
    background-color: #82ae46;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 18px;
    align-self: center;
    text-align: center;
    padding: 10px;
}



.deal-of-the-day-section{
    color: white;
    height: calc(100vh );
    width: 100%;
    background-image: url("./resources/bg-vegies.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 100px 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.deal-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 70%; */
    /* position: relative; */
    /* left: 55%; */

}
.best-price{
    font-size: 25px;
    margin-top: 30px;
}
.deal-head{
    color: black;
    /* margin: 10px 0; */
}
.deal-div>p span{
    font-size: 20px;
    font-family: "poppins";
    margin: 15px 0;
}
.para{
    text-wrap: wrap;
    max-width: 38%;
    margin: 10px 10px 10px 0;
}
.price{
    color: #ad6f8c;
}

.testimoniels{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* overflow-x: hidden; */
    margin: 100px 0px;
    width: 100%;
}
.t-head-discription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}
.t-head-discription p{
    text-align: center;
}

/* tstimonials */
.testimonial-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* overflow-x: unset; */
    max-width: 100%;
    /* margin: 10px 50px; */
  }
  
  .testimonial-card {
    flex: 0 0 auto;
    width: 300px;
    padding: 15px;
    margin: 15px;
    margin-right: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
  }
  .testimonial-card img {
    margin-top: 1rem;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    text-align: center;
  }
  .testimonials-buttons{
    margin: 20px 20px;
  }

  button {
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 16px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
/* testimonials */