<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script
      src="https://kit.fontawesome.com/46c135c7b1.js"
      crossorigin="anonymous"
    ></script>
    <title>Veggie Bazaar</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />

  </head>
  <body loading="lazy">
    
      <header class="header" id="header">
        <nav class="nav-bar">
          <a href="/" id="logo">VEGGIE BAZAAR</a>
          <div class="btn-and-categorys">
              <i id="menu-icon" class="fa-solid fa-bars menu-btn"></i>
            <ul class="ul">
              <li><a href="/">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#ourProducts">Shop</a></li>
              <li><a href="#">Contact</a></li>
              <li><a id="login" href="/showRegistrationLoginPage">Login</a></li>
            </ul>
          </div>
        </nav>
      </header>
      <a href="#" id="arrowBtn" class="fa-solid fa-angles-up arrow-up"></a>
      <div class="all-sections">
        <section class="welcome-section">
          <h1 class="w-heading">
            Hey Hiii!, Welcome to <span>Veggie Bazaar</span>!!!...
          </h1>
          <p class="w-para">
            Please <a href="/showRegistrationLoginPage">Login</a> to Shop and access the all features.
          </p>
        </section>
        <section class="highlights">
          <div class="h-card">
            <img
              loading="lazy"
              src="../images/delivery-truck.png"
              alt="delivery-truck"
              class="icon"
            />
            <p class="tagline">FREE SHIPPING</p>
            <p class="description">On order over ₹500/-</p>
          </div>
          <div class="h-card">
            <img
              loading="lazy"
              src="../images/fresh-4.png"
              alt="delivery-truck"
              class="icon fresh"
            />
            <p class="tagline">ALWAYS FRESH</p>
            <p class="description">Products well packed</p>
          </div>
          <div class="h-card">
            <img
              loading="lazy"
              src="../images/award-quality.png"
              alt="delivery-truck"
              class="icon"
            />
            <p class="tagline">SUPERIOR QUALITY</p>
            <p class="description">Quality products</p>
          </div>
          <div class="h-card">
            <img
              loading="lazy"
              src="../images/customer-service.png"
              alt="delivery-truck"
              class="icon"
            />
            <p class="tagline">SUPPORT</p>
            <p class="description">24/7 Support</p>
          </div>
        </section>
        <section class="categories">
          <div class="c-outer">
            <div class="c-inner c-fruits" data-target="fruits">
              <img
                loading="lazy"
                class="c-image"
                src="../images/fruits-basket.jpg"
                alt="fruits"
              />
              <p class="c-label">Fruits</p>
            </div>
            <div class="c-inner c-vegetables" data-target="vegetables">
              <img
                loading="lazy"
                class="c-image"
                src="../images/vegetables.jpg"
                alt="vegetables"
              />
              <p class="c-label">Vegetables</p>
            </div>
          </div>
          <div class="c-outer text-image-card">
            <div class="c-inner c-text" data-target="vegetables">
              <h3 class="c-vegetables-text">Vegetables</h3>
              <p>Protect the health of every one</p>
              <button class="c-shop-now">Shop Now</button>
            </div>
            <div class="c-inner c-all">
              <img
                loading="lazy"
                class="c-image"
                src="../images/all-vegetables.jpg"
                alt="vegetables"
              />
            </div>
          </div>
          <div class="c-outer">
            <div class="c-inner c-juices" data-target="juices">
              <img
                loading="lazy"
                class="c-image"
                src="../images/juice.jpg"
                alt="juices"
              />
              <p class="c-label">Juices</p>
            </div>
            <div class="c-inner c-cerels" data-target="cereals">
              <img
                loading="lazy"
                class="c-image"
                src="../images/cerels.jpg"
                alt="cerels"
              />
              <p class="c-label">Dried</p>
            </div>
          </div>
        </section>
        <section class="our-products-section" id="ourProducts">
          <div class="op-head-para-card">
            <p class="c-vegetables-text">Featured Products</p>
            <h2 class="op-heading">Our Products</h2>
            <p class="op-para-description">
              Far far away, behind the word mountains, far from the countries
              Vokalia and Consonantia
            </p>
          </div>
          <h3 class="product-heading" id="vegetables">Vegetables</h3>
          <div class="op-products-container" id="vegetablesContainer"></div>
          <h3 class="product-heading" id="fruits">Fruits</h3>
          <div class="op-products-container" id="fruitsContainer"></div>
          <h3 class="product-heading" id="juices">Juices</h3>
          <div class="op-products-container" id="juicesContainer"></div>
          <h3 class="product-heading" id="cereals">Cereals</h3>
          <div class="op-products-container" id="cerealsContainer"></div>
        </section>
        <section class="deal-of-the-day-section" id="deals">
          <div class="deal-div">
            <p class="c-vegetables-text best-price align">Best price for you</p>
            <h2 class="op-heading deal-head align">Deal of the day</h2>
            <p class="op-para-description para align">
              Far far away, behind the word mountains, far from the countries
              Vokalia and Consonantia
            </p>
            <p class="c-vegetables-text align">
              Spinach <br />
              <span><span class="price align">₹60 </span>now ₹35 only</span>
            </p>
          </div>
        </section>
        <section class="testimoniels">
          <div class="t-head-discription">
            <p class="c-vegetables-text">Testimony</p>
            <h2 class="op-heading">Our satisfied customer says</h2>
            <p class="op-para-description">
              Far far away, behind the word mountains, far from the countries
              Vokalia and Consonantia, there live the blind texts. Separated
              they live in
            </p>
          </div>
            <div class="testimonial-container">
                <div class="testimonials">
                  <div class="testimonial">
                    <img class="customer-image" src="../images/person_1.jpg.webp" alt="customer-image-1">
                    <p>Far far away, behind the word mountains, Far far away, behind the word mountains
                    </p>
                    <p>Mahesh</p>
                    <p>Regular customer</p>
                  </div>
                  <div class="testimonial">
                    <img class="customer-image" src="../images/person_2.jpg.webp" alt="customer-image-1">
                    <p>Far far away, behind the word mountains, Far far away, behind the word mountains
                    </p>
                    <p>Mahesh</p>
                    <p>Regular customer</p>
                  </div>
                  <div class="testimonial">
                    <img class="customer-image" src="../images/person_3.jpg.webp" alt="customer-image-1">
                    <p>Far far away, behind the word mountains, Far far away, behind the word mountains
                    </p>
                    <p>Mahesh</p>
                    <p>Regular customer</p>
                  </div>
                  <div class="testimonial">
                    <img class="customer-image" src="../images/person_1.jpg.webp" alt="customer-image-1">
                    <p>Far far away, behind the word mountains, 
                    </p>
                    <p>Mahesh</p>
                    <p>Regular customer</p>
                  </div>
                  <div class="testimonial">
                    <img class="customer-image" src="../images/person_2.jpg.webp" alt="customer-image-1">
                    <p>Far far away, behind the word mountains, 
                    </p>
                    <p>Mahesh</p>
                    <p>Regular customer</p>
                  </div>
                  <div class="testimonial">
                    <img class="customer-image" src="../images/person_3.jpg.webp" alt="customer-image-1">
                    <p>Far far away, behind the word mountains, 
                    </p>
                    <p>Mahesh</p>
                    <p>Regular customer</p>
                  </div>
                  <div class="testimonial">
                    <img class="customer-image" src="../images/person_1.jpg.webp" alt="customer-image-1">
                    <p>Far far away, behind the word mountains, 
                    </p>
                    <p>Mahesh</p>
                    <p>Regular customer</p>
                  </div>
                </div>
            </div>
            <div class="buttons">
              <i class="fa-regular fa-circle-left  prev-btn testi-btn"></i>
              <i class="fa-regular fa-circle-right next-btn testi-btn"></i>
            </div>
        </section> 
        <section class="partners">
            <div class="partners-bg">
                <img class="partner-image"  src="../images/sam-agri-partner.png" alt="partner image">
                <img class="partner-image"  src="../images/farm-plex-partner.jpeg" alt="partner image">
                <img class="partner-image"  src="../images/kisan-konnect-partner.jpeg" alt="partner image">
                <img class="partner-image"  src="../images/eco-fresh-organics-partner.jpeg" alt="partner image">
                <img  class="partner-image" src="../images/sarita-agro-product-pvt-ltd-partner.png" alt="partner image">
            </div>
        </section>
        <section class="subscribe">
            <div class="">
                <h4>Subscribe to our Newsletter</h4>
                <p>Get e-mail updates about our latest shops and special offers</p>
            </div>
            <div class="email-button">
                <input type="email" placeholder="Enter email address">
                <input type="button" value="Subscribe">
            </div>
        </section>
        <section class="footer-section">
          <div class="footer-all-cards">
            <div class="vegefoods-icons-section">
              <div class="vegefoods">
                  <h5>Veggie Bazaar</h5>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
              </div>
              <div class="icons">
                  <a href="#" title="twitter"><i class="fa-brands fa-x-twitter"></i></a>
                  <a href="#" title="facebook"><i class="fa-brands fa-square-facebook"></i></a>
                  <a href="#" title="instagram"><i class="fa-brands fa-instagram"></i></a>
              </div>
          </div>
          <div class="menu-help-container">
            <div class="menu-card">
              <h5>Menu</h5>
              <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
          </div>
          <div class="help-card">
              <h5>Help</h5>
              <ul class="help">
                <li><a href="#">Shipping information</a></li>
                <li><a href="#">Returns & Exchange</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
              </ul>
          </div>
          </div>
          
          <address class="address-card">
              <h5>Have a Question?</h5>
              <ul class="address">
                  <li><i class="fa-solid fa-location-dot"></i> 12-15-1039, Manikeshwari Nagar, Amberpet, Secundrabad, 500007, Telangana, India</li>
                  <li><i class="fa-solid fa-phone"></i><a href="tel:+91 9949767111">+91 9949767111</a></li>
                  <li><i class="fa-solid fa-envelope"></i><a href="mailto:maheshkummari7111@gmail.com">maheshkummari7111@gmail.com</a></li>
              </ul>
          </address>
          </div>
            <p class="copyright">Copyright ©2024 All rights reserved | This template is made with <span>&#9829; </span>by <a href="#">Mahesh</a></p>
        </section>
      </div>    <!--  this is all sections end -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="/js/script.js" defer></script>
  </body>
</html>
