
#messageContainer{
    z-index: 10000000;
}
.message {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.success {
    
  background-color: #dff0d8;
  color: #3c763d;
}

.error {
  background-color: #f2dede;
  color: #a94442;
}


.register-section,
.login-section{
    margin-top: 100px;
    max-width: 100%;
}
.register-section{
    /* display: none; */
}
.login-section{
    margin-top: 130px;
}
.registration-container,
.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.registration-image-container,
.login-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.registration-image,
.login-image{
    height: 500px;
    width: 450px;
    border-radius: 10px;
}
.registration-form,
.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.registration-form > h2,
.login-form > h2{
    text-decoration: underline;
    color: #82ae46;
    margin-top: 30px;
}

.input-field{
    padding: 8px 10px;
    width: 350px;
    font-size: clamp(12px, 1.5vw, 18px);
    border-radius: 5px;
    border: 1px solid #82ae46;
    outline: none;
}

label{
    margin-top: 15px;
    font-size: clamp(14px, 2vw, 20px);
    font-weight: 500;
}
.registration-form .eye-icon-div > i,
.login-form .eye-icon-div > i{
    font-size: clamp(14px, 1vw, 18px);
    position: absolute;
    right: 15px;
    bottom: 220px;
    cursor: pointer;
}
.login-form .eye-icon-div > i{
    bottom: 120px;
}
.registration-form div > button,
.login-form div > button{
    padding: 10px;
    border-radius: 25px;
    width: 150px;
    margin: 30px 15px 30px 0;
    color: white;
    background-color: black;
    outline: none;
    border: none;
    font-size: clamp(16px, 2vw, 20px);
}
.registration-form div  > button:hover,
.registration-form div > button:hover{
    background-color:  #82ae46;
}
@media screen and (max-width:768px) {
    .registration-container{
        flex-direction: column;
    }
    .registration-image{
        height: 300px;
        width: 400px;
    }
    .registration-form > i{
        bottom: 195px;
    }
    .registration-form > h2{
        text-align: center;
    }
}

@media screen and (max-width: 426px) {
    .registration-image{
        width: 300px;
    }
}